.header{
    width: 100%;
    top: 0px;
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 100;
    background-color: rgb(127, 127, 222);
}
.store-name{
    color:white;
}
.card-body{
    padding: 0px;
}
.btn-options{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.add-btn{
    padding: 10px;
}
.card{
    width: 18rem;
    padding: 10px;
}
.items-container{
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    gap: 10px;
}

.fo-modal-bg{
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 5000;
}

.fo-modal-content{
    background: white;
    padding: 5px;
}